{% extends "bootstrap_base.html" %}
{% load url from future %}

 {% block title %} Update User Info
{% endblock %} {% block script %}
<script>

</script>
{% endblock %} {% block script_end_body %}
<script type="text/javascript">setNavActive("nav_0")</script>

 
{% endblock %} {% block body %}

<h1>Release Note: </h1>
<hr />

<div>
	<h3>2013-11-10</h3>
	<ul>
		<li>Update: Add another session.</li>
		<li>Update: Add session score count.</li>
		<li>Update: Add survey.</li>
		<li>Update: Add thank you page.</li>
		<li>Bug fix: End time refresh. </li>
		<li>Bug fix: Wrong page direction.</li>
		<li>Bug fix: Score calculation.</li>
		<li>Update: Log download.</li>
	</ul>

	<h3>2013-11-2</h3>
	<ul>
		<li>Update: Add another switch button</li>
		<li>Update: Add warning message if less than 5 blocks clicked.</li>
		<li>Update: Add random alphanumerical code for each user.</li>
	</ul>


	<h3>2013-10-25</h3>
	<ul>
		<li>Update: Add waiting room</li>
		<li>Update: Deploy in local machine</li>
		<li>Bug fix: Concurrency in same panel</li>
	</ul>
	<h3>2013-07-08</h3>
	<ul>
	   
	  <li>Minor Update: Remove the warning message when trying to switch</li>
	  <li>New Feature: More settings for a game: total time, warning time, cost, etc.</li>
	  <li>New Feature: Download log</li>
	  <li>New Feature: User sign up <a href="./sign_up">Click here</a></li>
	  <li>New Feature: Countdown Timer</li>
	  <li>Major Update: Change the structure of the database</li>
	</ul>
</div>


<div>
	<h3>2013-07-02</h3>
	<ul>
	  <li>Minor Update: Group and Panel name</li>
	</ul>
</div>

<div>
	<h3>2013-07-01</h3>
	<ul>
	  <li>New Feature: Switch from panels</li>
	  <li>New Feature: Show group name and panel name on the top</li>
	</ul>
</div>

<div>
	<h3>2013-06-30</h3>
	<ul>
	  <li>This is just a Demo</li>
	  <li>Switch feature is not finished yet</li>
	</ul>
</div>



{% endblock %}



